.float-animate {
  --rotate-time: 9s;
  --scale-time: 7s;
  --translate-time: 13s;
  animation: rotate-anim var(--rotate-time) ease-in-out infinite alternate, scale-anim var(--scale-time) ease-in-out infinite, translate-anim var(--translate-time) ease-in-out infinite alternate;
}

@keyframes background-scroll {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -100vmax;
  }
}

@keyframes background-wiggle {
  0% {
    background-position-x: 0;
  }
  30% {
    background-position-x: -50vmax;
  }
  70% {
    background-position-x: 50vmax;
  }
  100% {
    background-position-x: 0;
  }
}

@keyframes translate-anim {
  0% {
    translate: 0 0;
  }

  25% {
    translate: 0 2vh;
  }

  50% {
    translate: 0.5vh -1vh;
  }

  75% {
    translate: 0 1.5vh;
  }

  100% {
    translate: -0.5vh -0.7vh;
  }
}

@keyframes scale-anim {
  0% {
    scale: 100%;
  }

  25% {
    scale: 102%;
  }

  50% {
    scale: 99%;
  }

  75% {
    scale: 98%;
  }

  100% {
    scale: 100%
  }
}

@keyframes rotate-anim {
  0% {
    rotate: 0deg;
  }

  25% {
    rotate: 1deg;
  }

  50% {
    rotate: 2deg;
  }

  75% {
    rotate: -1deg;
  }

  100% {
    rotate: -2deg;
  }
}
