.content-box {
  background-color: var(--CRYSTAL_BG_COL);
  backdrop-filter: blur(25px);
  border: 10px solid var(--CRYSTAL_BORDER_COL);
  margin: auto;
  overflow: hidden;
  border-radius: 40px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3), inset 0 0 30px rgba(100, 100, 100, 0.2);
}

.content-title-box {
  background-image: var(--BG_IMG);
  background-position: center;
  background-size: cover;
}

.content-title-text {
  margin: 0;
  line-height: 100px;
  font-size: 4rem;
  color: var(--HEADER_TEXT_COL);
  text-shadow: 0 0 25px var(--TEXT_SHADOW_COL);
}

.content-main-box {
  border-top: 10px solid var(--CRYSTAL_BORDER_COL);
  padding-top: 10px;
}

.content-text {
  font-size: 1.1rem;
  color: var(--BODY_TEXT_COL);
  font-family: var(--BODY_FONT), sans-serif;
  padding: 10px;
}

.quote-text {
  font-size: 0.8rem;
  color: var(--QUOTE_TEXT_COL);
  font-family: var(--HEADER_FONT), sans-serif;
}
