.content-box {
  background-color: var(--CRYSTAL_BG_COL);
  backdrop-filter: blur(1.8rem);
  border: var(--MAIN_BORDER_WIDTH) solid var(--CRYSTAL_BORDER_COL);
  overflow: hidden;
  border-radius: var(--MAIN_BORDER_RADIUS);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3), inset 0 0 2rem rgba(100, 100, 100, 0.2);
  margin: auto auto 6.6rem;
}

.content-title-box {
  background-image: var(--BG_IMG);
  background-position: center;
  background-size: cover;
}

.content-title-text {
  margin: 0;
  line-height: 6.2rem;
  font-size: var(--TITLE_FONT_SIZE);
  color: var(--HEADER_TEXT_COL);
  text-shadow: 0 0 1.8rem var(--TEXT_SHADOW_COL);
}

.content-main-box {
  border-top: var(--MAIN_BORDER_WIDTH) solid var(--CRYSTAL_BORDER_COL);
  padding-top: var(--MAIN_BORDER_WIDTH);
}

.content-text {
  font-size: var(--BODY_FONT_SIZE);
  color: var(--BODY_TEXT_COL);
  font-family: var(--BODY_FONT), sans-serif;
  padding: 0.6rem 0.5rem 0.3rem 0.5rem;
}

.quote-text {
  font-size: var(--NOTE_FONT_SIZE);
  color: var(--QUOTE_TEXT_COL);
  font-family: var(--HEADER_FONT), sans-serif;
}
