.header-text {
  position: relative;
  font-size: 5rem;
  color: var(--HEADER_TEXT_COL);
  padding-bottom: 20px;
  text-shadow: 0 0 25px var(--TEXT_SHADOW_COL);
}

.header-text:after {
  position: absolute;
  content: attr(data-text);
  z-index: -1;
  inset: 0;
  -webkit-text-stroke: 0.2em rgba(79, 98, 173, 0.3);
}
