.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13.3rem;
}

.header-text {
  position: absolute;
  font-size: var(--HEADER_FONT_SIZE);
  color: var(--HEADER_TEXT_COL);
  text-shadow: 0 0 1.8rem var(--TEXT_SHADOW_COL);
}

.header-text:after {
  position: absolute;
  content: attr(data-text);
  z-index: -1;
  inset: 0;
  -webkit-text-stroke: calc(var(--HEADER_FONT_SIZE) * 0.2) var(--HEADER_OUTLINE_COL);
}
