.image-box {
  background: var(--BG_IMG);
  border: 0.2rem solid var(--CRYSTAL_BORDER_COL);
  margin: 1rem;
  overflow: hidden;
  border-radius: 2.8rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3), inset 0 0 2rem rgba(100, 100, 100, 0.2);
}

.image-box > * > img {
  width: 100%;
  vertical-align: bottom;
}

.image-tag-layout {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
}

.image-tag {
  height: 1.3rem;
  margin-top: -1.8rem;
  margin-bottom: -0.4rem;
  font-size: var(--NOTE_FONT_SIZE);
  text-align: center;
  padding: 0.3rem 1.3rem 0 1.3rem;
  color: white;
  border: 0.2rem solid var(--CRYSTAL_BORDER_COL);
  font-family: var(--HEADER_FONT), sans-serif;
  text-shadow: 0 0 0.8rem var(--TEXT_SHADOW_COL);
  background-image: var(--BG_IMG);
  background-position: 50% 90%;
  border-radius: 1.3rem 1.3rem 0 0;
}
