.image-box {
  background: var(--BG_IMG);
  border: 3px solid var(--CRYSTAL_BORDER_COL);
  margin: 15px;
  overflow: hidden;
  border-radius: 40px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3), inset 0 0 30px rgba(100, 100, 100, 0.2);
}

.image-box > img {
  width: 100%;
  vertical-align: bottom;
}

.image-tag-layout {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
}

.image-tag {
  height: 20px;
  margin-top: -25px;
  margin-bottom: -6px;
  font-size: 0.8rem;
  text-align: center;
  padding: 5px 20px 0px 20px;
  color: white;
  border: 3px solid var(--CRYSTAL_BORDER_COL);
  font-family: var(--HEADER_FONT), sans-serif;
  text-shadow: 0 0 10px var(--TEXT_SHADOW_COL);
  background-image: var(--BG_IMG);
  background-position: 50% 90%;
  border-radius: 20px 20px 0 0;
}
