@font-face {
  font-family: Buycat;
  src: url('font/Buycat.ttf');
}


.root {
  --HEADER_FONT: Buycat;
  --HEADER_TEXT_COL: white;

  --BODY_FONT: MADE Tommy Soft;
  --BODY_TEXT_COL: rgb(55, 59, 86);

  --QUOTE_TEXT_COL: rgb(144, 126, 176);

  --CRYSTAL_BG_COL: rgba(255, 255, 255, 0.2);
  --CRYSTAL_BORDER_COL: rgba(255, 255, 255, 0.5);

  --TEXT_SHADOW_COL: rgba(60, 40, 50, 0.7);

  --BG_IMG: url('../img/fill.png');

  background-image: var(--BG_IMG);
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--HEADER_FONT), sans-serif;
  text-align: center;
  align-content: center;
  margin: 0;
}

a:link, a:visited {
  color: rgb(74, 74, 229);
  text-decoration: none;
}

a:hover, a:active {
  color: #ff5fb2;
}

.anim-layer {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/panim-layer.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
  position: fixed;
  animation: background-scroll 21s linear infinite, background-wiggle 93s ease-in-out infinite;
  filter: drop-shadow(0px 0px 25px white);
}

@keyframes background-scroll {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -100vmax;
  }
}

@keyframes background-wiggle {
  0% {
    background-position-x: 0;
  }
  30% {
    background-position-x: -50vmax;
  }
  70% {
    background-position-x: 50vmax;
  }
  100% {
    background-position-x: 0;
  }
}

.header-text {
  position: relative;
  font-size: 5rem;
  color: var(--HEADER_TEXT_COL);
  padding-bottom: 20px;
  text-shadow: 0 0 25px var(--TEXT_SHADOW_COL);
}

.header-text:after {
  position: absolute;
  content: attr(data-text);
  z-index: -1;
  inset: 0;
  -webkit-text-stroke: 0.2em rgba(79, 98, 173, 0.3);
}

.float-animate {
  --rotate-time: 9s;
  --scale-time: 7s;
  --translate-time: 13s;
  animation: rotate-anim var(--rotate-time) ease-in-out infinite alternate, scale-anim var(--scale-time) ease-in-out infinite, translate-anim var(--translate-time) ease-in-out infinite alternate;
}

.content-box {
  --SIZE: 500px;
  --BORDER_RADIUS: 40px;
  --BORDER_WIDTH: 10px;

  width: var(--SIZE);
  background-color: var(--CRYSTAL_BG_COL);
  border: var(--BORDER_WIDTH) solid var(--CRYSTAL_BORDER_COL);
  backdrop-filter: blur(25px);
  border-radius: var(--BORDER_RADIUS);
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.content-title-box {
  background-image: var(--BG_IMG);
  background-position: center;
  background-size: cover;
}

.content-title-text {
  margin: 0;
  line-height: calc(var(--SIZE) * 0.2);
  font-size: 4rem;
  color: var(--HEADER_TEXT_COL);
  text-shadow: 0 0 25px var(--TEXT_SHADOW_COL);
}

.content-main-box {
  border-top: 10px solid var(--CRYSTAL_BORDER_COL);
  padding-top: 10px;
  box-shadow: inset 0 0 30px rgba(100, 100, 100, 0.2);
}

.tabs-container {
  display: flex;
  justify-content: stretch;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  border-radius: 0 0 20px 20px;
  backdrop-filter: brightness(0.9);
  overflow: hidden;
}

.tab-label {
  width: auto;
  flex-grow: 1;
  font-size: 1.1rem;
  color: var(--HEADER_TEXT_COL);
  padding-top: 5px;
  padding-bottom: 5px;
  text-shadow: 0 0 10px var(--TEXT_SHADOW_COL);
  background-color: rgba(0, 0, 255, 0.1);
  z-index: 1;
}

.tab-input,
#about:not(:checked) ~ .content-main-box .about-section,
#projects:not(:checked) ~ .content-main-box .projects-section,
#posts:not(:checked) ~ .content-main-box .posts-section,
#contact:not(:checked) ~ .content-main-box .contact-section,

#about:not(:checked) ~ .content-title-box .about-title,
#projects:not(:checked) ~ .content-title-box .projects-title,
#posts:not(:checked) ~ .content-title-box .posts-title,
#contact:not(:checked) ~ .content-title-box .contact-title {
  display: none;
}

.tab-label:hover,
#about:checked ~ .content-title-box .tabs-container .tab-label[for="about"],
#projects:checked ~ .content-title-box .tabs-container .tab-label[for="projects"],
#posts:checked ~ .content-title-box .tabs-container .tab-label[for="posts"],
#contact:checked ~ .content-title-box .tabs-container .tab-label[for="contact"] {
  color: rgb(255, 180, 230);
}

{
  color: rgb(255, 180, 230)
;
}

.projects-section, .posts-section {
  padding: 10px 0px;
}

.link-box {
  font-size: 1.1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), inset 0 0 15px rgba(0, 0, 0, 0.3);
  border: 3px solid var(--CRYSTAL_BORDER_COL);
  font-family: var(--BODY_FONT), sans-serif;
  background-image: var(--BG_IMG);
  background-position: 50% 46.5%;
  background-size: 150%;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 20px;
  border-radius: 15px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-content: space-between;
  align-items: center;
}

.link-box-separator {
  font-family: var(--HEADER_FONT), sans-serif;
  font-size: 1.5em;
  color: var(--BODY_TEXT_COL);
}

.link-box-title {
  font-family: var(--HEADER_FONT), sans-serif;
}

.link-box-title, .link-box-text {
  color: var(--BODY_TEXT_COL);
  text-align: left;
  padding-left: 15px;
  margin: 3px;
}

.link-icons {
  flex: auto;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: 20px;
}

.link-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.tools-note {
  font-family: var(--BODY_FONT), sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  padding-left: 10px;
}

.content-text {
  font-size: 1.1rem;
  color: var(--BODY_TEXT_COL);
  font-family: var(--BODY_FONT), sans-serif;
  padding: 10px;
}

.quote-text {
  font-size: 0.8rem;
  color: var(--QUOTE_TEXT_COL);
  font-family: var(--HEADER_FONT), sans-serif;
}

@keyframes translate-anim {
  0% {
    translate: 0 0;
  }

  25% {
    translate: 0 2vh;
  }

  50% {
    translate: 0.5vh -1vh;
  }

  75% {
    translate: 0 1.5vh;
  }

  100% {
    translate: -0.5vh -0.7vh;
  }
}

@keyframes scale-anim {
  0% {
    scale: 100%;
  }

  25% {
    scale: 102%;
  }

  50% {
    scale: 99%;
  }

  75% {
    scale: 98%;
  }

  100% {
    scale: 100%
  }
}

@keyframes rotate-anim {
  0% {
    rotate: 0deg;
  }

  25% {
    rotate: 1deg;
  }

  50% {
    rotate: 2deg;
  }

  75% {
    rotate: -1deg;
  }

  100% {
    rotate: -2deg;
  }
}
