.content-box {
  width: 500px;
}

.tabs-container {
  display: flex;
  justify-content: stretch;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  border-radius: 0 0 20px 20px;
  backdrop-filter: brightness(0.9);
  overflow: hidden;
}

.tab-label {
  width: auto;
  flex-grow: 1;
  font-size: 1.1rem;
  color: var(--HEADER_TEXT_COL);
  padding-top: 5px;
  padding-bottom: 5px;
  text-shadow: 0 0 10px var(--TEXT_SHADOW_COL);
  background-color: rgba(0, 0, 255, 0.1);
  z-index: 1;
}

.tab-input,
#about:not(:checked) ~ .content-main-box .about-section,
#projects:not(:checked) ~ .content-main-box .projects-section,
#posts:not(:checked) ~ .content-main-box .posts-section,
#contact:not(:checked) ~ .content-main-box .contact-section,

#about:not(:checked) ~ .content-title-box .about-title,
#projects:not(:checked) ~ .content-title-box .projects-title,
#posts:not(:checked) ~ .content-title-box .posts-title,
#contact:not(:checked) ~ .content-title-box .contact-title {
  display: none;
}

.tab-label:hover,
#about:checked ~ .content-title-box .tabs-container .tab-label[for="about"],
#projects:checked ~ .content-title-box .tabs-container .tab-label[for="projects"],
#posts:checked ~ .content-title-box .tabs-container .tab-label[for="posts"],
#contact:checked ~ .content-title-box .tabs-container .tab-label[for="contact"] {
  color: rgb(255, 180, 230);
}

{
  color: rgb(255, 180, 230)
;
}

.projects-section, .posts-section {
  padding: 10px 0px;
}
