.link-box {
  font-size: var(--BODY_FONT_SIZE);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2), inset 0 0 1rem rgba(0, 0, 0, 0.3);
  border: 0.2rem solid var(--CRYSTAL_BORDER_COL);
  font-family: var(--BODY_FONT), sans-serif;
  background-image: var(--BG_IMG);
  background-position: 50% 46.5%;
  background-size: 150%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-bottom: 1.3rem;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  align-content: space-between;
  align-items: center;
}

.link-box-title {
  font-family: var(--HEADER_FONT), sans-serif;
}

.link-box-title, .link-box-text {
  color: var(--BODY_TEXT_COL);
  text-align: left;
  padding-left: 1rem;
  margin: 0.2rem;
}

.link-icons {
  flex: auto;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: 1.3rem;
}

.link-icon {
  width: 2rem;
  height: 2rem;
  margin-left: 0.7rem;
}

.link-box-note {
  font-family: var(--BODY_FONT), sans-serif;
  font-size: var(--NOTE_FONT_SIZE);
  font-weight: bold;
  padding-left: 0.7rem;
}
