.link-box, .link-box-important {
  font-size: 1.1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), inset 0 0 15px rgba(0, 0, 0, 0.3);
  border: 3px solid var(--CRYSTAL_BORDER_COL);
  font-family: var(--BODY_FONT), sans-serif;
  background-image: var(--BG_IMG);
  background-position: 50% 46.5%;
  background-size: 150%;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 20px;
  border-radius: 15px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-content: space-between;
  align-items: center;
}

.link-box-separator {
  font-family: var(--HEADER_FONT), sans-serif;
  font-size: 1.5em;
  color: var(--BODY_TEXT_COL);
}

.link-box-title {
  font-family: var(--HEADER_FONT), sans-serif;
}

.link-box-title, .link-box-text {
  color: var(--BODY_TEXT_COL);
  text-align: left;
  padding-left: 15px;
  margin: 3px;
}

.link-icons {
  flex: auto;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: 20px;
}

.link-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.tools-note {
  font-family: var(--BODY_FONT), sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  padding-left: 10px;
}
